name: Android-armv7

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DEBUG: 'napi:*'

jobs:
  build-android-armv7:
    name: Build - Android - armv7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: List NDK Home
        run: ls -R "${ANDROID_NDK_LATEST_HOME}"

      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: armv7-linux-androideabi

      - name: Cache cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: stable-linux-android-armv7-node@18-cargo-cache

      - name: Install dependencies
        run: yarn install --immutable --mode=skip-build

      - name: 'Build TypeScript'
        run: yarn build

      - name: Cross build
        run: |
          export CARGO_TARGET_ARMV7_LINUX_ANDROIDEABI_LINKER="${ANDROID_NDK_LATEST_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi24-clang"
          yarn build:test:android:armv7
          du -sh examples/napi/index.node
          ${ANDROID_NDK_LATEST_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip examples/napi/index.node
          du -sh examples/napi/index.node
