name: Android-aarch64

on:
  push:
    branches:
      - main
  pull_request:

env:
  DEBUG: 'napi:*'

jobs:
  build-android-aarch64:
    name: Build - Android - aarch64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
          check-latest: true

      - name: List NDK Home
        run: ls -R "${ANDROID_NDK_LATEST_HOME}"

      - name: Install
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: 'aarch64-linux-android'

      - name: Cache cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: stable-linux-android-node@16-cargo-cache

      - name: Cache NPM dependencies
        uses: actions/cache@v3
        with:
          path: .yarn/cache
          key: npm-cache-linux-android-node@16

      - name: Install dependencies
        run: yarn install --immutable --mode=skip-build

      - name: 'Build TypeScript'
        run: yarn build

      - name: Cross build native tests
        run: |
          export CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER="${ANDROID_NDK_LATEST_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android24-clang"
          yarn build:test:android
