name: Address Sanitizer

env:
  DEBUG: 'napi:*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Address sanitizer
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: rust-src

      - name: Install rust-src
        run: rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: nightly-ubuntu-node@18-cargo-cache

      - name: 'Install dependencies'
        run: yarn install --immutable --mode=skip-build

      - name: Unit tests with address sanitizer
        run: |
          yarn workspace @examples/napi build -- -Z build-std
          yarn workspace @examples/compat-mode build -- -Z build-std
          LD_PRELOAD=/usr/lib/gcc/x86_64-linux-gnu/13/libasan.so yarn test
        env:
          RUST_TARGET: x86_64-unknown-linux-gnu
          RUST_BACKTRACE: 1
          RUSTFLAGS: -Z sanitizer=address -C link-args=-Wl,-z,nodelete
          ASAN_OPTIONS: detect_leaks=0
          NODE_OPTIONS: --max-old-space-size=8192
          DISABLE_V8_COMPILE_CACHE: 1
          CARGO_PROFILE_DEV_OPT_LEVEL: 1

      - name: Clear the cargo caches
        run: |
          cargo install cargo-cache --no-default-features --features ci-autoclean
          cargo-cache
