name: Test MSRV Rust

env:
  DEBUG: 'napi:*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-msrv-rust:
    name: 1.57.0 - ubuntu-latest - node@18
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.57.0

      - name: Cache cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: stable-ubuntu-latest-node@16-cargo-cache

      - name: 'Install dependencies'
        run: yarn install --mode=skip-build --immutable

      - name: 'Build TypeScript'
        run: yarn build

      - name: Check build
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all --bins --examples --tests -vvv

      - name: Unit tests
        run: |
          yarn build:test
          yarn test --verbose
        env:
          RUST_BACKTRACE: 1
